@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f5f5f5;
  --color-primary: #ad66da;
  --color-primary-dim: #d0a3ec;
  --color-success: #4caf50;
  --color-readable: #3c3c43;
  --color-readable-dim: #7c7c82;
  --color-content: #f5f5f5;
  --color-content-dim: #f0f0f0;
  --color-border: #736d74;
  --color-link: #0288d1;
  --color-link-hover: #01579b;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html.dark {
  --color-background: #1e2125;
  --color-primary: #d591fe;
  --color-primary-dim: #75508c;
  --color-success: #43a065;
  --color-readable: #d6d8e2;
  --color-readable-dim: #7a7d8c;
  --color-content: #1e2125;
  --color-content-dim: #292d32;
  --color-border: #686e78;

  --color-link: #29a9ff;
  --color-link-hover: #57c3ff;
}

html {
  @apply text-base;

  li::marker {
    color: var(--color-readable);
  }
}

body {
  @apply bg-web-background text-base;
  letter-spacing: 0.021rem;
  line-height: 1.6;
}
